*{
    margin: 0px;
    padding: 0px;
    height: 100%;
}

#conteiner{
    background-color: lightgray;
    grid-template-columns: auto;
    grid-template-rows: 15% 10% auto 10%;
    display:grid;
    width: 100%;
}

header{
    color: white;
    text-align: center;
    line-height: 100px;
    display: block;
    background-color: rgb(48, 127, 153);
    height: 100px;
    width: 100%;
    margin: 0px;
}

nav {
    background-color: rgb(157, 156, 156);
    text-align: center;
    line-height: 60px;
    
}

ul{
    list-style: none;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    justify-content:space-evenly;
}

a{
    font-size: 20px;
    color: white;
}
   
footer{
    color: white;
    background-color: rgb(48, 127, 153);
    line-height: 60px;
    text-align: center;
}

img {
    width: 30px;
    height: 30px;
}

li:hover {
    transform: scale(0.9);
}

